@model List<ELearningProject.DAL.Entities.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3>Hakkımızda Listesi</h3>
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Görsel</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Alt-Açıklama</th>
                        <th style="width:20px;">Durum</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><img src="~/Images/@item.ImageURL" style="height:50px; width:50px;" /></td>
                            <td>@item.Title</td>
                            @if (@item.Description == null || @item.Description.Length <= 30)
                            {
                                <td>@item.Description</td>
                            }
                            else
                            {
                                <td>
                                    <a href="#" id="DescriptionBtn"
                                       onclick="return confirm('@item.Description');">
                                        @item.Description.Substring(0, 10)...
                                    </a>
                                </td>
                            }
                            @if (@item.SubDescription == null || @item.SubDescription.Length <= 30)
                            {
                                <td>@item.SubDescription</td>
                            }
                            else
                            {
                                <td>
                                    <a href="#" id="SubDescriptionBtn"
                                       onclick="return confirm('@item.SubDescription');">
                                        @item.SubDescription.Substring(0, 10)...
                                    </a>
                                </td>
                            }
                            <td>
                                @if (item.Status)
                                {
                                    <i class="fa fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                <a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger" id="DeleteBtn"
                                   onclick="return confirm('Silmek istediğinize emin misiniz?');"> Sil</a>
                            </td>
                            <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
                <a href="/About/AddAbout/" class="btn btn-outline-primary">Yeni Hakkımızda Girişi</a>
            </div>
        </div>
    </div>
</div>