﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("_HeadPartial", "AdminLayout")

<body class="fix-header fix-sidebar card-no-border">

    @Html.Action("_PreloaderPartial", "AdminLayout")

    <div id="main-wrapper">

        @Html.Action("_NavbarPartial", "InstructorPanel")

        @Html.Action("_SidebarPartial", "StudentPanel")

        <div class="page-wrapper">

            <div class="container-fluid">

                @Html.Action("_PageRowTitlePartial", "AdminLayout")

                @RenderBody()

            </div>

            @Html.Action("_FooterPartial", "AdminLayout")

        </div>

    </div>

    @Html.Action("_ScriptPartial", "Adminlayout")

</body>

</html>