@model ELearningProject.DAL.Entities.Course

@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = Model.Title;
    var ratings = (IEnumerable<ELearningProject.DAL.Entities.Review>)ViewBag.ratings;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<h2>@Model.Title</h2>
<div>
    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
@foreach (var item in ratings)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <br />
            @for (var i = 1; i <= item.ReviewScore; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (item.ReviewScore + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
    </div>
}
<hr />
@Html.Partial("_CommentBox")

<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>