
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("_HeadPartial", "Default")

<body>
    @Html.Action("_SpinnerPartial", "Default")

    @Html.Action("_NavbarPartial", "Default")

    @Html.Action("_CarouselPartial", "Default")
    
    @Html.Action("_ServicePartial", "Default")

    @Html.Action("_AboutPartial", "Default")

    @*@Html.Action("_CategoryPartial", "Default")*@

    @Html.Action("_CoursePartial", "Default")

    @Html.Action("_TeamPartial", "Default")

    @Html.Action("_TestimonialPartial", "Default")   
    
    @Html.Action("_FooterPartial", "Default")    
        
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @Html.Action("_ScriptPartial", "Default")

</body>

</html>